/* Override some defaults */
html, body {
  font-size: 14px;
  line-height: 1.4em;
}

p {
  font-size: 14px;
}

iframe {
  margin: 1em 0;
}

.navbar {
  margin-bottom: 0;
}

h2, h3 {
  margin: 0.5em 0 0.2em 0;
}

img {
  margin: 1em;
}

ol {
  margin: 1em 0 1em 2em;
}

li {
  margin-bottom: 0.5em;
}

html, body, .page-header {
  background-color: white;
}

#info > div, #info > ul {
  margin-bottom: 1em;
}

.container, .navbar {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container > footer {
  margin-top: 1.5em;
}

.container > footer p {
  text-align: center; /* center align it with the container */
  margin-bottom: 1.5em;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 0 20px 20px 20px;
}

.content .row-fluid {
  margin-bottom: 2em;
}

h1 > a {
  color: black;
}

h1 > a:hover {
  text-decoration: none;
}

.posts {
  list-style-type: none;
  margin: 0px;
}

.navbar-inner {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
          background-image: -moz-linear-gradient(top, #eeeeee, #D5D5D5);
          background-image: -ms-linear-gradient(top, #eeeeee, #D5D5D5);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#D5D5D5));
          background-image: -webkit-linear-gradient(top, #eeeeee, #D5D5D5);
          background-image: -o-linear-gradient(top, #eeeeee, #D5D5D5);
          background-image: linear-gradient(top, #eeeeee, #D5D5D5);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#D5D5D5', GradientType=0);
,1}

.content .page-header:nth-child(1) {
  border-top: none;
}

.navbar .brand {
  color: black;
}

.navbar .nav > li > a {
  color: #333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a:hover {
  color: #999;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
}

.nav > li {
  margin-bottom: 0px;
}

hr, .page-header, .content {
  border-bottom: 1px solid #DDD;
  border-top: 0;
}

/* Page header tweaks */
.page-header {
  padding: 20px 20px;
  margin: 0px -20px 0;
  border-top: 1px solid #BBB;
  border-bottom: 0;
}

.social-media {
  float: right;
  margin-right: 30px;
}

.social-media img {
  margin: 8px 8px 0 0;
}

.social-media a:hover {
  text-decoration: none;
}

.topbar .btn {
  border: 0;
}

.tag_box {
	list-style:none;
	margin:0;
	overflow:hidden;
}

.tag_box li {
	line-height: 1.7em;
  margin-bottom: 0;
}

.tag_box.inline li {
	float:left;
}

.tag_box a {
	padding: 3px 6px;
	margin: 0.1em;
	background: #eee;
	border-radius: 2px;
	text-decoration:none;
}

.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}

.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

code {
  /* font-lock-variable-name-face */
  color: #08C;
  padding: 0.16em 0.4em;
}

pre, code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

pre {
  margin: 1em 0;
}

pre code {
  font-weight: normal;
}

.pagination {
  margin: 0.5em;
}

.pagination a {
  border: none;
}

.pagination ul {
  box-shadow: none;
  -webkit-box-shadow: none;
  -mozilla-box-shadow: none;
}

.builtin {
  /* font-lock-builtin-face */
  color: #62124b;
}

.comment, .doc, .cm {
  /* font-lock-comment-face */
  color: #aea79f;
}

.comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #aea79f;
  font-style: italic;
}

.function-name {
  /* font-lock-function-name-face */
  /* color: #860e73; */
  /* font-weight: bold; */
}

.keyword, .k, .kc, .kd, .kn, .kp, .kr, .kt {
  /* font-lock-keyword-face */
  color: #f47321;
  font-weight: bold;
}

.string, pre.sh_sourceCode .sh_string, .s1, .s2 {
  /* font-lock-string-face */
  color: #dd1144;
}

pre.sh_sourceCode > code > span {
  color: #333;
}

b .variable-name {
  color: white;
}

.css-property {
  /* css-property */
  color: #8b005a;
}
.css-selector {
  /* css-selector */
  color: #860e73;
  font-weight: bold;
}

.type {
  /* font-lock-type-face */
  color: #83a525;
}
.constant {
  /* font-lock-constant-face */
  color: #f68d47;
}

.hll { background-color: #ffffcc }
.c { color: #8f5902;} /* Comment */
.err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.g { color: #000000 } /* Generic */
.k, .keyword, .builtin { color: #204a87; font-weight: bold } /* Keyword */
.l { color: #000000 } /* Literal */
.n { color: #000000 } /* Name */
/* .o { color: #ce5c00; font-weight: bold } /* Operator */
.x { color: #000000 } /* Other */
.p { color: #000000; font-weight: normal } /* Punctuation */
.cp { color: #8f5902;} /* Comment.Preproc */
.c1, .cm, .doc, .cs { color: #9b9b9b;} /* Comment.Single */
.gd { color: #a40000 } /* Generic.Deleted */
.ge { color: #000000;} /* Generic.Emph */
.gr { color: #ef2929 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #000000;} /* Generic.Output */
.gp { color: #8f5902 } /* Generic.Prompt */
.gs { color: #000000; font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.ld { color: #000000 } /* Literal.Date */
.m { color: #0000cf; font-weight: bold } /* Literal.Number */
.s, .string { color: #4e9a06 } /* Literal.String */
.na { color: #c4a000 } /* Name.Attribute */
.nb { color: #204a87 } /* Name.Builtin */
.nc { color: #000000 } /* Name.Class */
.no { color: #000000 } /* Name.Constant */
.nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.ni { color: #ce5c00 } /* Name.Entity */
.ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.nf { color: #000000 } /* Name.Function */
.nl { color: #f57900 } /* Name.Label */
.nn { color: #000000 } /* Name.Namespace */
.nx { color: #000000 } /* Name.Other */
.py { color: #000000 } /* Name.Property */
.nt { color: #204a87; font-weight: bold } /* Name.Tag */
.nv { color: #000000 } /* Name.Variable */
.ow { color: #204a87; font-weight: bold } /* Operator.Word */
.w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.sb { color: #4e9a06 } /* Literal.String.Backtick */
.sc { color: #4e9a06 } /* Literal.String.Char */
.sd { color: #8f5902;} /* Literal.String.Doc */
.s2 { color: #4e9a06 } /* Literal.String.Double */
.se { color: #4e9a06 } /* Literal.String.Escape */
.sh { color: #4e9a06 } /* Literal.String.Heredoc */
.si { color: #4e9a06 } /* Literal.String.Interpol */
.sx { color: #4e9a06 } /* Literal.String.Other */
.sr { color: #4e9a06 } /* Literal.String.Regex */
.s1 { color: #4e9a06 } /* Literal.String.Single */
.ss { color: #4e9a06 } /* Literal.String.Symbol */
.bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.vc { color: #000000 } /* Name.Variable.Class */
.vg { color: #000000 } /* Name.Variable.Global */
.vi { color: #000000 } /* Name.Variable.Instance */
.il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
.o { color: #ce5c00; font-weight: bold } /* Operator */
.p { color: #000000; } /* Punctuation */
