/* Override some defaults */
html, body {
  background-color: #eee;
  font-size: 14px;
  line-height: 1.4em;
}
.navbar {
  margin-bottom: 0;
}

h2, h3 {
  margin: 0.5em 0 0.2em 0;
}

img {
  margin: 1em;
}

.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

pre {
  /* border:1px solid #f5f5f5; */
  background-color: #222;
  padding: 2.5%;
  overflow-y: hidden;
  color: #d3d3d3;
  -webkit-border-radius: 3px;
  -mox-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  margin-top: 1em;
  margin-bottom: 1em;
}

pre.comment  {
  /* font-lock-comment-face */
  color: #777;
}
.comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #777;
}
.constant {
  /* font-lock-constant-face */
  color: #52c62b;
  font-weight: bold;
}
.function-name {
  /* font-lock-function-name-face */
  color: #ffffbb;
  font-weight: bold;
}
.keyword {
  /* font-lock-keyword-face */
  color: #888;
}
.string {
  /* font-lock-string-face */
  color: #ffffcc;
}
.type {
  /* font-lock-type-face */
  color: #c2cff1;
  font-weight: bold;
}

pre .variable-name {
  /* font-lock-variable-name-face */
  color: #f3f3f3 !important;
}

pre .doc {
	color: #c2cff1;
}

.entry-content p .variable-name, code {
  /* font-lock-variable-name-face */
  color: #646EF1;
  font-weight: bold;
  font-family: monospace;
}

code {
  padding: 0.15em 0.4em;
}

.builtin {
  /* font-lock-builtin-face */
  color: #c2cff1;
  font-weight: bold;
}
